body {
  background:rgb(255, 218, 5);
}

.all {
  display:flex;
  flex-direction: column;
  font-family: Arial;
}

h2, h1 {
  margin-left:auto;
  margin-right:auto;
}

h1 {
  margin-bottom:0%;
}

#add_form {
  position: relative;
  background: rgb(233, 128, 42);
  margin-left:auto;
  margin-right:auto;
  width:40%;
  height: 10rem;
  display: -webkit-flex;
  flex-direction: column;
  border-radius: 1.5rem;
  border:0.5rem solid rgb(153, 83, 3);
  justify-content: space-around;
  font-weight: 600;
  margin-bottom: 0%;
}

.submit {
  position: absolute; 
  top: 50%;
  -webkit-transform: translate(-80%, -50%);
  right:0.5%;
  border-radius: 0.5rem;
  cursor: pointer;
  background: rgb(223, 164, 55);
  border:0.3rem solid rgb(226, 97, 22);
  transition:0.1s;
}

.submit:focus {
  outline:none;
}

.submit:active {
  border-radius:0.3rem;
  transition:0.1s;
}


#add_form > div {
  display: -webkit-flex;
  flex-direction: row;
  margin-top:1%;
}

#add_form > div:nth-child(3) {
  margin-bottom:1%;
}

#add_form > div> label {
  width:30%;
  margin-left:5%;
}

#add_form > div > input {
  margin-left: 4%;
  justify-content: right;
  width:30%;
  transform: scaley(1.1);
  border-radius: 0.4rem;
  padding-left: 10px;
  border:none;
}

.search {
  position: absolute;
  top:11%;
  right:1%;
  width:22.5%;
}

.search>div {
  margin-top: -1%;
}

.search>div>input {
  border-radius: 0.8rem;
  height:1.5rem;
  padding: 5px;
  border:5px solid black;
  margin-left:15%;
}

table {
  margin-top:3.5%;
  /* padding: 1%; */
}

thead {
    margin-top:3%;
    padding: 2rem;
    /* background: blue; */
}

thead>tr {

}

th {
  height:0.5rem;
  justify-content: space-around;
  border-radius: 0.4rem;
  font-size: 95%;
}

th:nth-child(2) {
  position:absolute;
  left:35%;
}

th:nth-child(3) {
  position:absolute;
  left:69%;
}

tbody {
  width:20rem;
}

tr {
  margin-top:10%;
}

input:focus {
  outline:none;
}

td:nth-child(2) {
  position:absolute;
  left:35%;
}

td:nth-child(3) {
  position:absolute;
  left:69%;
}

.listdescr {
  display: block;
  margin: auto;
  width:37%;
  justify-content: space-between;
  margin-top: -1%;
  font-weight: 600;
}

.listdescr>div {
  margin-left:auto;
  margin-right:auto;
  display: flex;
  justify-content: space-between;
}

.listdescr>div>p:nth-child(2) {
  position: relative;
  left:2%;
}

.listdescr>div>p:nth-child(3) {
  position: relative;
  left:5%;
}

#output{
  margin-left:auto;
  margin-right:auto;
  width:50%;
  background:rgb(253, 241, 63);
  display: flex;
  flex-direction: column;
  border-radius: 2rem; 
  border:0.55rem solid rgb(253, 202, 63);
  /* font-weight: 600; */
  font-size: 105%;
}

.contactrow {
  transform: translate(7%,0%);
  display: flex;
}

.contact {
  position: relative;
  display:inline-flex;
  justify-content: space-around;
  width:85%;
  margin-left: -2%;
}

.contactrow:first-child {
  margin-top: 1%;
}

.contactrow:last-child {
  margin-bottom: 1%;
}

.index {
  transform: translate(-50%,0%);
  position: absolute;
  left:0%;
}

.fname {
  position: absolute;
  width:20%;
  left: 10%;
}

.lname {
  position: absolute;
  width:20%;
  left: 42.5%;
}

.phone {
  position: relative;
  width:20%;
  left: 35.5%;
}

.delbtn {
  position: absolute;
  top:28%; 
  align-items: center;
  right:10%;
  cursor: pointer;
  background:rgb(255, 222, 34);
  border: 0.3rem solid rgb(223, 172, 35);
  border-radius: 1rem;
}

.delbtn:focus {
  outline:none;
}

.pen {
  position:absolute;
  top:66%;
  left:7%;
  height:25%;
  /* transform: rotate(-30deg); */
}

.searchimg {
  position: absolute; 
  height:20%;
}